# Section 4

### Inbult Data Structure In Python ( Tuples, Set ,Dictionaries)

## Tuples

In [43]:
tuples = ()
print(type(tuples))
lists = []
print(type(lists))

<class 'tuple'>
<class 'list'>

In [45]:
# List And Tuples can be define by keywords also 
L = list()
print(type(L))
T =  tuple()
print(type(T))

<class 'list'>
<class 'tuple'>

In [48]:
Tup = (1,2,3,4,5)    # This BAsically Tuple
print(Tup)
lis = list(Tup)      # I have type casted tuple into the list
print(lis)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

#### Accessing Tuple Elements (Similar As List)

In [51]:
Tup = (1,2,3,4,5)
print(Tup[1])         
print(Tup[-1])
print(Tup[1:3])

2
5
(2, 3)

#### Tuple Operation

In [53]:
#Concating Two tuples
numbs = (5,6,7,8)
words = ("kaushal","naik","appa")
concat = numbs + words
print(concat)

(5, 6, 7, 8, 'kaushal', 'naik', 'appa')

#### Tuples Are Immutable

In [57]:
Tuple_1 = (1,2,3,4,5)
print(Tuple_1)
Tuple_1[1] = 100     # Here It will Get Error Because Tuple Doesnot Alllow To Change the Elements
print(Tuple_1)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

#### Tuple Methods

In [62]:
new_tuple = (1,2,3,1,4,1,5,2,5,3,4,6,7,8,9)
cnt1 = new_tuple.count(1)
cnt2 = new_tuple.count(2)
print(cnt1)
print(cnt2)

print(new_tuple.index(3))    # Gives the index number of first occurance 3

3
2
2

#### Packing ANd Unpacking

In [65]:
# Packing Tuple
packing_Tup = 1,"kaushal",2,"naik"
print(packing_Tup)

# Unpacking Tuple
no1,no2,no3,no4 = packing_Tup
print(no1)
print(no2)
print(no3)
print(no4)

(1, 'kaushal', 2, 'naik')
1
kaushal
2
naik

#### Nested Tuple

In [74]:
nest_tup = ((1,2,3),("kaus","naik","appa"),(6,7,8))
print(nest_tup)
print(nest_tup[2])
print(nest_tup[1][2])

((1, 2, 3), ('kaus', 'naik', 'appa'), (6, 7, 8))
(6, 7, 8)
appa

#########################################################################################################################################

# Sets

In [77]:
# Creating Sets
set1 = {1,2,3,4,5,6}
print(type(set1))
set2 = set((1,2,3,4,5,6))
print(type(set2))

<class 'set'>
<class 'set'>

#### Set Operation

In [81]:
set1.add(9)       # Adding Element
print(set1)
set1.remove(1)     # Removing Element
print(set1)
set1.pop()         # As sets Folow FIFO So first element will be poped
print(set1)

{1, 2, 4, 5, 6, 9}
{2, 4, 5, 6, 9}
{4, 5, 6, 9}

#### Mathematical Operation

In [87]:
set_1 = {1,2,3,4,5,6}
set_2 = {4,5,6,7,8,9}
union_set = set1.union(set2)
print(union_set)
intersection_set = set1.intersection(set2)
print(intersection_set)
difference_set = set_1.difference(set_2)
print(difference_set)



# Methods
sbst = set_1.issubset(set_2)
print(sbst)
spst = set_1.issuperset(set_2)
print(spst)

{1, 2, 3, 4, 5, 6, 9}
{4, 5, 6}
{1, 2, 3}
False
False

In [89]:
# removing Duplicates from List
List_dup = [1,2,2,3,3,4,4,5,6,6,7,7,8]   #Duplicate element List
print(set(List_dup))                     #As Set dont allow duplicates we will simply convert list into the set

{1, 2, 3, 4, 5, 6, 7, 8}

#################################################################################################################################################

# Dictionary

In [93]:
# Accessing Dictionary


Stud_Dict = {"name":"kaushal", "age":"25","city":"mumbai"}
print(Stud_Dict["name"])

kaushal

#### Accessing Dictionary Elements

In [96]:
# Modifying Dictionary elements

Stud_Dict = {"name":"kaushal", "age":"25","city":"mumbai"}
Stud_Dict["age"]= 100          #updated
print(Stud_Dict)
Stud_Dict["village"]="Kolhapur"            # Added New value
print(Stud_Dict)
del Stud_Dict["city"]                 # deleting
print(Stud_Dict)

{'name': 'kaushal', 'age': 100, 'city': 'mumbai'}
{'name': 'kaushal', 'age': 100, 'city': 'mumbai', 'village': 'Kolhapur'}
{'name': 'kaushal', 'age': 100, 'village': 'Kolhapur'}

#### Dictionary Method

In [99]:

Stud_Dict = {"name":"kaushal", "age":"25","city":"mumbai"}
print(Stud_Dict.keys())
print(Stud_Dict.values())
print(Stud_Dict.items())

dict_keys(['name', 'age', 'city'])
dict_values(['kaushal', '25', 'mumbai'])
dict_items([('name', 'kaushal'), ('age', '25'), ('city', 'mumbai')])

#### Iterating Dictionaries

In [102]:
Stud_Dict = {"name":"kaushal", "age":"25","city":"mumbai"}
for keys in Stud_Dict.keys():
    print(keys)
for values in Stud_Dict.values():
    print(values)
for key,values in Stud_Dict.items():
    print(key,values)

name
age
city
kaushal
25
mumbai
name kaushal
age 25
city mumbai